*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    border: 3px solid black;
}
h2,h4{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
.third-heading{
color: red;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.me-box, .computer-box {
    width: 40%;
    height: 30%;
    border: 2px solid black;
}

span{
    color: white;
}
.result-bar{
    background-color: black;
}
.choice-shown{
    background-color:#343434;
    height: 90px;
}
.options{
    display: flex;
    justify-content: center;
}
.rock, .paper, .scissor {
padding: 5px;
margin-left: 2%;
margin-bottom: 1%;
border-radius: 20px;
background-color: black;
}
i{
    color: orange;

}